@tailwind base;
@tailwind components;
@tailwind utilities;


.link{
    @apply text-purple-500 font-bold cursor-pointer;
}
.link:hover{
    @apply text-purple-700;
}
.link:focus{
    @apply text-purple-800;
}




.btn{
    @apply inline-flex items-center gap-1 px-3.5 py-2 border border-transparent text-sm leading-4 font-medium rounded shadow-sm cursor-pointer transition duration-100 ease-out;
}

.btn:focus{
    @apply outline-none ring-2 ring-offset-2;
}



.btn-inline{
    @apply rounded p-1 uppercase text-xs font-bold cursor-pointer transition ease-out duration-300;
}
.btn-inline:focus{
    @apply transform scale-110 bg-opacity-50;
}



.btn-primary{
    @apply  text-white bg-purple-600;
}
.btn-primary:hover{
   @apply bg-purple-700;
}
.btn-primary:focus{
    @apply ring-purple-600;
}



.btn-secondary{
    @apply text-gray-700 bg-gray-200 ;
}
.btn-secondary:hover{
    @apply bg-gray-300;
}
.btn-secondary:focus{
    @apply ring-gray-200;
}



.btn-warning{
    @apply text-yellow-900 bg-yellow-300;
}
.btn-warning:hover{
    @apply bg-yellow-400;
}
.btn-warning:focus{
    @apply ring-yellow-300;
}

.btn-danger{
    @apply text-red-900 bg-red-300;
}
.btn-danger:hover{
    @apply bg-red-400;
}
.btn-danger:focus{
    @apply ring-red-300;
}




.timesheetstable{
    @apply table-auto text-xs;
}
@screen sm {
    .timesheetstable{
        @apply text-sm w-full;
    }
}
@screen md {
    .timesheetstable{
        @apply text-base;
    }
}

.timesheetstable-header{
    @apply text-left;
}

.timesheetstable-row{
    @apply border-t-2 border-purple-200 transition duration-300 ease-out;
}
.timesheetstable-row:hover{
    @apply bg-purple-100;
}

/*nicer tables*/
th{
    @apply p-2;
}
td{
    @apply p-2;
}

.card{
    @apply m-2 flex items-center flex-col bg-white shadow-md rounded p-2 transform transition duration-300 ease-out;
}
.card:hover{
    @apply shadow-lg;
}

.card:focus{
    @apply shadow-lg outline-none ring-2 ring-offset-2 ring-gray-300;
}
