{% extends 'root.html' %}

{% load i18n %}

{% load account %}

{% block title %}{% trans "Logout" %}{% endblock %}


{% block content %}

<p class="my-2">{% trans 'Are you sure you want to sign out?' %}</p>
<div class="my-2">
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
    </form>
</div>



{% endblock %}