{% extends 'root.html' %}

{% load i18n %}
{% load account %}

{% block title %}{% blocktrans %}Change Password{% endblocktrans %}{% endblock %}



{% block content %}

    <form method="POST" action="{% url 'account_change_password' %}" class="my-4 password_change">
        {% csrf_token %}

        {% include "tailwind-form.html" %}

        <button class="btn btn-primary my-2" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}