{% extends 'root.html' %}

{% load i18n %}

{% block title %}{% blocktrans %}Signup Closed{% endblocktrans %}{% endblock %}

{% block content %}
<div class="flex justify-center ">
    <div class="flex items-center flex-col bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <svg class="w-12 h-12 text-purple-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.618 5.984A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016zM12 9v2m0 4h.01"></path></svg>
        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>

</div>
{% endblock %}