{% extends 'root.html' %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<p>{% blocktrans %}Already have an account? Then please <a class="text-purple-500" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="my-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
    {% include "tailwind-form.html" %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="my-2 btn btn-primary">{% trans "Sign Up" %}</button>
</form>

{% endblock %}s