{% load i18n %}
<button
  class="btn btn-danger"
  type="button"
  onclick="toggleModal('deleteConsumption{{ consumption.id }}')"
>

  {% trans "Delete" %}
</button>

<div
  id="deleteConsumption{{ consumption.id }}"
  class="hidden fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="
      flex
      items-end
      justify-center
      min-h-screen
      pt-4
      px-4
      pb-20
      text-center
      sm:block
      sm:p-0
    "
  >
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div
      class="
        modalBackground
        fixed
        inset-0
        bg-gray-500 backdrop-blur-sm bg-opacity-75
        transition-opacity
      "
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div
      class="
        inline-block
        align-bottom
        bg-white
        rounded-lg
        px-4
        pt-5
        pb-4
        text-left
        overflow-hidden
        shadow-xl
        transform
        transition-all
        sm:my-8
        sm:align-middle
        sm:max-w-sm
        sm:w-full
        sm:p-6
      "
    >
      <div>
        <div class="mt-3 text-center sm:mt-5">
          <h3
            class="text-lg leading-6 font-medium text-gray-900"
            id="modal-title"
          >
            {% blocktrans with name=consumption.meal.name%}Delete consumption <span class="font-bold">{{ name }}</span>?{% endblocktrans %}
          </h3>
            <p>{% blocktrans with datetime=consumption.datetime%}at {{ datetime }}{% endblocktrans %}</p>
          <div class="mt-2">
            <form
              id="deleteConsumption{{ consumption.id }}form"
              action="{% url 'consumption_delete' consumption.id %}"
              method="post"
              class="form"
            >
              {% csrf_token %}
              <div class="my-2">
                <button
                  form="deleteConsumption{{ consumption.id }}form"
                  type="button"
                  class="btn btn-secondary"
                  onclick="toggleModal('deleteConsumption{{ consumption.id }}')"
                >
                  {% trans "Back" %}
                </button>
                <button
                  form="deleteConsumption{{ consumption.id }}form"
                  type="submit"
                  class="btn btn-danger"
                  name="action"
                >
                  {% trans "Delete" %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
