{% load i18n %}

<div class="bg-purple-100 p-2 rounded">
    <div class="flex flex-row gap-2 items-center justify-between">
        <h4 class="font-bold text-lg">{{ consumption.meal.name }}
            {% if consumption.amount %}
                <span class="font-normal text-purple-600 text-sm">({{ consumption.amount }})</span>
            {% endif %}
        </h4>
        <div>
            <a class="btn btn-secondary" href="{% url 'consumption_update' consumption.id %}">{% trans "Edit" %}</a>
            {% include "components/comsumption_delete.html" with consumption=consumption %}
        </div>
    </div>
    <div class="flex flex-row flex-wrap gap-2 my-2">
      {% for ingredient in consumption.meal.ingredients.all %}
      <div class="bg-yellow-200 px-1 py-0.5 rounded text-xs">
        {{ ingredient.name }}
      </div>
      {% endfor %}
    </div>
    <div class="flex flex-row gap-2 flex-wrap">
        <div>{{ consumption.datetime|date:"Y-m-d H:i, l" }}</div>
        <div class="text-purple-600">{{ consumption.datetime|timesince }} </div>
    </div>

</div>