{% load i18n %}
<div class="relative rounded bg-cyan-200 p-4 select-none">
  <div class="flex flex-col gap-4 items-start">

    <h4 class="font-bold text-2xl">{{ ingredient.name }}</h4>
    <div class="flex flex-row flex-wrap gap-2">
        {% for meal in ingredient.meals.all %}
        <div class="bg-purple-200 px-1 py-0.5 rounded text-xs">
          {{ meal.name }}
        </div>
        {% endfor %}
    </div>

    <div class="flex flex-row flex-wrap gap-2">
      <a class="btn btn-secondary" href="{% url 'ingredient_merge' ingredient.id %}">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10 3.5a1.5 1.5 0 013 0V4a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-.5a1.5 1.5 0 000 3h.5a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-.5a1.5 1.5 0 00-3 0v.5a1 1 0 01-1 1H6a1 1 0 01-1-1v-3a1 1 0 00-1-1h-.5a1.5 1.5 0 010-3H4a1 1 0 001-1V6a1 1 0 011-1h3a1 1 0 001-1v-.5z" />
        </svg>
      </a>
      <a class="btn btn-secondary" href="{% url 'ingredient_update' ingredient.id %}"
        >{% trans "Edit" %}</a
      >
      {% include "components/ingredient_delete.html" with ingredient=ingredient %}
    </div>

  </div>
    {% if mean_mood is not None %}
        <div class="absolute -top-3 -right-3  rounded shadow overflow-hidden">
        {% if mean_mood < 2 %}
            <div class="p-2 bg-red-200 text-red-700">
                {{ mean_mood|floatformat:1 }}
            </div>
        {% elif mean_mood < 4 %}
            <div class="p-2 bg-yellow-200 text-yellow-700">
                {{ mean_mood|floatformat:1 }}
            </div>
        {% else %}
            <div class="p-2 bg-green-200 text-green-700">
                {{ mean_mood|floatformat:1 }}
            </div>
        {% endif %}
        </div>
    {% endif %}

</div>
