{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% get_language_info_list for LANGUAGES as languages %}
{% if languages|length > 1 %}

    <div class="relative inline-block text-left">
      <div>
        <button onclick="toggleDropdown('languageSelect')" type="button" class="inline-flex justify-center w-full rounded-md border border-pgray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-pgray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-pgray-100 focus:ring-pblue-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
            {{LANGUAGE_CODE}}
          <!-- Heroicon name: solid/chevron-down -->
          <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>

      <!--
        Dropdown menu, show/hide based on menu state.

        Entering: "transition ease-out duration-100"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
      <div id="languageSelect" class="z-20 hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        {% for language in languages %}
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value={{ request.get_full_path }} />
                <input name="language" type="hidden" value={{ language.code }} />
                <button type="submit" class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm w-full text-left" role="menuitem" tabindex="-1">{{language.name_translated}}</button>
            </form>
        {% endfor %}
        </div>

      </div>
    </div>

{% endif %}