{% load i18n %}
<div class="relative rounded bg-purple-200 p-4 select-none">
  <div class="flex flex-col gap-4 items-start">

    <h4 class="font-bold text-2xl">{{ meal.name }}</h4>
    <div class="flex flex-row flex-wrap gap-2">
        {% for ingredient in meal.ingredients.all %}
        <div class="bg-cyan-200 px-1 py-0.5 rounded text-xs">
          {{ ingredient.name }}
        </div>
        {% endfor %}
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <a class="btn btn-primary" href="{% url 'consumption_add' %}?meal={{ meal.id }}">{% trans "Eat" %}</a>
      <a class="btn btn-secondary" href="{% url 'meal_update' meal.id %}">{% trans "Edit" %}</a>
      {% include "components/meal_delete.html" with meal=meal %}
    </div>
  </div>
    {% if mean_mood is not None %}
        <div class="absolute -top-3 -right-3  rounded shadow overflow-hidden">
        {% if mean_mood < 2 %}
            <div class="p-2 bg-red-200 text-red-700">
                {{ mean_mood|floatformat:1 }}
            </div>
        {% elif mean_mood < 4 %}
            <div class="p-2 bg-yellow-200 text-yellow-700">
                {{ mean_mood|floatformat:1 }}
            </div>
        {% else %}
            <div class="p-2 bg-green-200 text-green-700">
                {{ mean_mood|floatformat:1 }}
            </div>
        {% endif %}
        </div>
    {% endif %}

</div>
