{% load i18n %}

<div class="bg-pink-100 p-2 rounded">
    <div class="flex flex-row gap-2 items-center justify-between">
        <div class="flex flex-row gap-2 items-center">
            <h4 class="font-bold text-lg">{{ mood.mean_formatted }}</h4>
            <div class="flex flex-row gap-2 flex-wrap">
                {% for symptom in mood.symptoms.all %}
                    <span class="border-2 border-red-500 text-red-500 rounded overflow-hidden">
                        <span class="px-1 py-1 bg-red-100">
                            {{ symptom.name }}
                        </span>
                        {% if symptom.intensity  %}
                        <span class="px-1 py-1 text-white bg-red-500">
                            {{ symptom.intensity }}
                        </span>
                        {% endif %}
                    </span>
                {% endfor %}
            </div>

        </div>

        <div>
            <a class="btn btn-secondary" href="{% url 'mood_update' mood.id %}">{% trans "Edit" %}</a>
            {% include "components/mood_delete.html" with mood=mood %}
        </div>
    </div>

    <div class="flex flex-row gap-2 flex-wrap">
        <div>{{ mood.datetime|date:"Y-m-d H:i, l" }}</div>
        <div class="text-purple-600">{{ mood.datetime|timesince }}</div>
    </div>

</div>