{% load i18n %}
<div class="relative rounded bg-red-100 p-4 select-none">
  <div class="flex flex-col gap-4 items-start">
    <h4 class="font-bold text-2xl">{{ symptom.name }} {% if symptom.intensity %}<span class="text-red-700">{{ symptom.intensity }}</span> {% endif %}</h4>
    <div class="flex flex-row flex-wrap gap-2">
      <a class="btn btn-secondary" href="{% url 'symptom_update' symptom.id %}"
        >{% trans "Edit" %}</a
      >
      {% include "components/symptom_delete.html" with symptom=symptom %}
    </div>
  </div>
</div>
