{% extends 'root.html' %}
{% load i18n %}


{% block title %}{% blocktrans %}Add a Meal Consumption{% endblocktrans %}{% endblock %}

{% block content %}

<div class="my-2">
<a class="btn btn-secondary" href="{% url 'meal_create' %}">{% blocktrans %}Add a meal instead{% endblocktrans %}</a>
</div>
<div class="my-2">
    <form action="{% url "consumption_add"%}" method="post">{% csrf_token %}
        <div class="mt-4">
            {% include "tailwind-form.html" %}
        </div>

        <div class="my-6 flex flex-row gap-4">
            <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
            <button class="btn btn-secondary" type="button" onclick="goBack()">Back</button>
        </div>
    </form>

</div>

{% endblock %}