{% extends 'root.html' %}
{% load i18n %}


{% block title %}{% blocktrans %}Update Meal Consumption{% endblocktrans %}{% endblock %}

{% block content %}

<div class="">
    <form action="{% url "consumption_update" consumption.id %}" method="post">{% csrf_token %}
        <div class="mt-4">
            {% include "tailwind-form.html" %}
        </div>

        <div class="my-6 flex flex-row gap-4">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-secondary" type="button" onclick="goBack()">Back</button>
        </div>
    </form>

</div>

{% endblock %}