{% extends 'root.html' %}
{% load i18n %}


{% block title %}{% blocktrans %}Data Export{% endblocktrans %}{% endblock %}

{% block content %}
<form method="post" class="flex flex-row gap-2 my-4 flex-wrap">{% csrf_token %}
    {% include "tailwind-form-inline.html" %}
    <div>
        <button class="btn btn-secondary" name="action" value="filter">{% trans "Search" %}</button>
        <button class="btn btn-primary" name="action" value="export">{% trans "Export" %}</button>
    </div>
</form>

<div class="flex flex-col gap-4">
    {% for element in data %}
        {% if element.type == "consumption" %}
            {% include "components/consumption.html" with consumption=element.instance %}
        {% elif element.type == "mood" %}
            {% include "components/mood.html" with mood=element.instance %}
        {% endif %}
    {% endfor %}

</div>

{% endblock %}