{% extends 'root.html' %}
{% load i18n %}


{% block title %}{% blocktrans %}Your personal overview{% endblocktrans %}{% endblock %}

{% block content %}

<div class="my-4 flex flex-row flex-wrap gap-4">
    <a class="link" href="{% url 'consumption_history' %}">{% blocktrans %}My Consumptions{% endblocktrans %}</a>
    <a class="link" href="{% url 'meals' %}">{% blocktrans %}My Meals{% endblocktrans %}</a>
    <a class="link" href="{% url 'ingredients' %}">{% blocktrans %}My Ingredients{% endblocktrans %}</a>
    <a class="link" href="{% url 'mood_history' %}">{% blocktrans %}My Moods{% endblocktrans %}</a>
</div>

<div class="grid gap-4 grid-cols-1 md:grid-cols-2">
    {% if latest_consumption %}
    <div class="rounded bg-purple-200 p-2 flex flex-row flex-wrap gap-2 items-center justify-between">
        <div class="">
            <h3 class="text-lg font-bold">{% blocktrans %}Latest Meal{% endblocktrans %}</h3>
            <p>{{ latest_consumption.meal.name }}</p>
            <div class="flex flex-row gap-2 items-end">
                <div>{{ latest_consumption.datetime }}</div>
                <div class="text-purple-600 text-sm">{{ latest_consumption.datetime|timesince }}</div>
            </div>

        </div>
        {% if consumption_too_old %}
        <div class="flex flex-col gap-2 items-start">
            <p class="text-purple-700">{% blocktrans %}You have not entered a meal in some time, enter one now:{% endblocktrans %}</p>
            <div class="transform rotate-90">
                <div class="animate-bounce">
                    <a class="transform -rotate-90 btn btn-primary" href="{% url 'meals' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                        </svg>
                        <span>{% trans "Add" %}</span>
                    </a>
                </div>
            </div>

        </div>
        {% else %}
        <div class="">
            <a class="btn btn-primary" href="{% url 'meals' %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                </svg>
                <span>{% trans "Add" %}</span>
            </a>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="rounded bg-purple-50 border-2 border-purple-200 border-dashed p-2 flex flex-col gap-4">
        <p>{% blocktrans %}You have not yet logged a meal, add one now{% endblocktrans %}</p>
        <div>
            <a class="btn btn-primary" href="{% url 'meals' %}">{% trans "Add" %}</a>
        </div>
    </div>
    {% endif %}
    {% if latest_mood %}
    <div class="rounded bg-pink-200 p-2 flex flex-row flex-wrap gap-2 items-center justify-between">
        <div class="">
            <h3 class="text-lg font-bold">{% blocktrans %}Latest Mood{% endblocktrans %}</h3>
            <p>{{ latest_mood.mean|floatformat:1 }}</p>
            <div class="flex flex-row gap-2 items-end">
                <div>{{ latest_mood.datetime }}</div>
                <div class="text-purple-600 text-sm">{{ latest_mood.datetime|timesince }}</div>
            </div>
        </div>
        {% if mood_too_old %}
        <div class="flex flex-col gap-2 items-start">
            <p class="text-purple-700">{% blocktrans %}You have not entered your mood in some time, enter one now:{% endblocktrans %}</p>
            <div class="transform rotate-90">
                <div class="animate-bounce">
                    <a class="transform -rotate-90 btn btn-primary" href="{% url 'mood_add' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                        </svg>
                        <span>{% trans "Add" %}</span>
                    </a>
                </div>
            </div>

        </div>
        {% else %}
        <div class="">
            <a class="btn btn-primary" href="{% url 'mood_add' %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                </svg>
                <span>{% trans "Add" %}</span>
            </a>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="rounded bg-pink-50 border-2 border-purple-200 border-dashed p-2 flex flex-col gap-4">
        <p>{% blocktrans %}You have not yet logged a mood, add one now{% endblocktrans %}</p>
        <div>
            <a class="btn btn-primary" href="{% url 'mood_add' %}">{% trans "Add" %}</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}