{% extends 'root.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Ingredient Merging{% endblocktrans %}{% endblock %}

{% block content %}
    {% if target_ingredient %}
        <div class="flex flex-col gap-4">
        <div>
            {% blocktrans with source_name=source_ingredient.name target_name=target_ingredient.name %}You are about to merge <span class="font-bold">{{ source_name }}</span>(source)
                into <span class="font-bold">{{ target_name }}</span>(target).{% endblocktrans %}
        </div>
        <p>
            {% blocktrans with source_name=source_ingredient.name target_name=target_ingredient.name %}Meals that contain the <span class="font-bold">{{ source_name }}</span>
                will be updated to contain the <span class="font-bold">{{ target_name }}</span> instead.
                <span class="font-bold">{{ source_name }}</span> will be deleted.{% endblocktrans %}
        </p>
            <form action="#" method="post" class="my-4 flex flex-row gap-4">{% csrf_token %}
                <div class="flex flex-row gap-4">
                    <button type="submit" class="btn btn-warning">{% trans "Merge" %}</button>
                </div>
            </form>
        </div>

    {% else %}
    <div class="flex flex-col gap-4">
        <div>{% blocktrans with source_name=source_ingredient.name %}You are about to merge <span class="font-bold">{{ source_name }}</span>.{% endblocktrans %}</div>
        <p>
            {% blocktrans with source_name=source_ingredient.name %}Select a second ingredient to merge <span class="font-bold">{{ source_name }}</span> into:{% endblocktrans %}
        </p>

        <div class="grid gap-4 grid-cols-2 md:grid-cols-4">
            {% for target_ingredient in ingredients %}
            <a
                href="{% url 'ingredient_merge' source_ingredient.id target_ingredient.id %}"
                class="p-2 rounded bg-cyan-200 shadow hover:shadow-xl transition duration-300"
            >
            {{ target_ingredient.name }}
            </a>
            {% endfor %}
        </div>
    </div>

    {% endif %}







{% endblock %}