{% extends 'root.html' %}
{% load i18n %}

{% block title %}{% trans "Ingredients" %}{% endblock %}

{% block content %}


    <div class="my-4 flex flex-row gap-4 flex-wrap">
        <a class="link" href="{% url 'ingredient_create' %}">{% blocktrans %}Add an Ingredient{% endblocktrans %}</a>
    </div>

    <form action="#" method="post" class="my-4 flex flex-row gap-4">{% csrf_token %}
        <div class="">
            {% include "tailwind-form-inline.html" %}
        </div>
        <div class="flex flex-row gap-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <div class="grid gap-4 grid-cols-2 md:grid-cols-4">
        {% for data in ingredient_data %}
            {% include "components/ingredient.html" with ingredient=data.ingredient mean_mood=data.mean_mood %}
        {% endfor %}
    </div>


{% endblock %}