{% extends 'root.html' %}
{% load i18n %}

{% block title %}{% trans "Meals" %}{% endblock %}

{% block content %}
    <div class="my-4 flex flex-row gap-4 flex-wrap">
        <a class="link" href="{% url 'meal_create' %}">{% blocktrans %}Add a Meal{% endblocktrans %}</a>
        <a class="link" href="{% url 'consumption_add' %}">{% blocktrans %}Add a Meal Consumption{% endblocktrans %}</a>

    </div>
        <form action="#" method="post" class="my-4 flex flex-row gap-4">{% csrf_token %}
            <div class="">
                {% include "tailwind-form-inline.html" %}
            </div>
            <div class="flex flex-row gap-4">
                <button type="submit" class="btn btn-primary" >{% trans "Search" %}</button>
            </div>
        </form>
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        {% for entry in meal_data %}
            {% include "components/meal.html" with meal=entry.meal mean_mood=entry.mean_mood%}
        {% endfor %}
    </div>


{% endblock %}