{% extends 'root.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Add a Meal{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="my-4 flex flex-row gap-2 flex-wrap">
        <a class="btn btn-secondary" href="{% url 'consumption_add' %}">{% blocktrans %}Add a meal consumption instead{% endblocktrans %}</a>
    </div>

    <div class="mt-4 p-4 rounded bg-gray-100">
        <h3 class="font-bold text-xl">{% blocktrans %}Create new Meal{% endblocktrans %}</h3>
        <form action="#" method="post" >{% csrf_token %}
            <div class="mt-4">
                {% include "tailwind-form.html" %}
            </div>
            <div class="my-6 flex flex-row gap-4">
                <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
            </div>
        </form>
    </div>


{% endblock %}