{% extends 'root.html' %}
{% load i18n %}


{% block title %}{% blocktrans %}Add Mood{% endblocktrans %}{% endblock %}

{% block content %}

<div class="">
    <form action="{% url "mood_add"%}" method="post">{% csrf_token %}
        <div class="mt-4">
            {% include "tailwind-form.html" %}
        </div>

        <div class="my-6 flex flex-row gap-4">
            <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
            <button class="btn btn-secondary" type="button" onclick="goBack()">{% trans "Back" %}</button>
        </div>
    </form>

</div>

{% endblock %}