{% extends 'root.html' %}
{% load i18n %}


{% block title %}{% blocktrans %}Mood History{% endblocktrans %}{% endblock %}

{% block content %}
<div class="flex flex-row gap-2 my-2">
    <a class="btn btn-primary" href="{% url 'mood_add' %}">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        <span>{% trans "Add" %}</span>
    </a>
</div>

{% if page_obj %}
    <div class="flex flex-col gap-4">
        {% include "components/paginator.html" %}
        {% for mood in page_obj %}
            {% include "components/mood.html" with mood=mood %}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}