{% extends 'root.html' %}
{% load i18n %}

{% block title %}{% trans "Symptoms" %}{% endblock %}

{% block content %}


    <div class="my-4 flex flex-row gap-4 flex-wrap">
        <a class="link" href="{% url 'symptom_create' %}">{% blocktrans %}Add a Symptom{% endblocktrans %}</a>
    </div>

    <form action="#" method="post" class="my-4 flex flex-row gap-4">{% csrf_token %}
        <div class="">
            {% include "tailwind-form-inline.html" %}
        </div>
        <div class="flex flex-row gap-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    {% if page_obj %}

    <div class="flex flex-col gap-4">
        {% include "components/paginator.html" %}
        <div class="grid gap-4 grid-cols-2 md:grid-cols-4">
            {% for symptom in page_obj %}
                {% include "components/symptom.html" with symptom=symptom %}
            {% endfor %}
        </div>
    </div>

    {% endif %}

{% endblock %}