{% extends 'root.html' %}
{% load i18n %}

{% block title %}{% blocktrans with name=symptom.name%}Change {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}

<form action="{% url "symptom_update" symptom.id %}" method="post">{% csrf_token %}
    <div class="mt-4">
        {% include "tailwind-form.html" %}
    </div>

    <div class="my-6 flex flex-row gap-4">
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        <button class="btn btn-secondary" type="button" onclick="goBack()">{% trans "Back" %}</button>
    </div>
</form>
{% include "components/symptom_delete.html" with symptom=symptom %}


<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}