{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Better Eating</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="text-gray-800">
    <nav class="p-4 bg-gradient-to-r from-purple-300 to-pink-300 select-none">
        <div class="flex flex-row gap-4 items-center justify-between">

            <a class="text-2xl font-bold" href="{% url 'home' %}">Better Eating</a>
            <div class="flex flex-row gap-2 items-center">
                {% if user.is_authenticated %}
                    <div class="relative inline-block text-left">
                      <div>
                        <button onclick="toggleDropdown('navbarLinks')" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                            {{user.username}}
                          <!-- Heroicon name: solid/chevron-down -->
                          <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                          </svg>
                        </button>
                      </div>

                      <!--
                        Dropdown menu, show/hide based on menu state.

                        Entering: "transition ease-out duration-100"
                          From: "transform opacity-0 scale-95"
                          To: "transform opacity-100 scale-100"
                        Leaving: "transition ease-in duration-75"
                          From: "transform opacity-100 scale-100"
                          To: "transform opacity-0 scale-95"
                      -->
                      <div id="navbarLinks" class="z-20 hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                        <div class="py-1" role="none">
                          <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                            {% if request.user.is_staff %}
                                <a class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" href="/admin/">{% trans "Admin" %}</a>
                            {% endif %}
                            <a class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" href="{% url 'consumption_history' %}">{% trans "Consumption History" %}</a>
                            <a class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" href="{% url 'mood_history' %}">{% trans "Mood History" %}</a>
                            <a class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" href="{% url 'symptoms' %}">{% trans "Symptoms" %}</a>
                            <a class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" href="{% url 'meals' %}">{% trans "Meals" %}</a>
                            <a class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" href="{% url 'ingredients' %}">{% trans "Ingredients" %}</a>
                            <a class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" href="{% url 'export' %}">{% trans "Export" %}</a>
                            <a class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" href="{% url 'account_email' %}">{% trans "Change Email" %}</a>
                            <a class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a>
                            <a class="text-gray-700 hover:text-gray-600 hover:bg-gray-100 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>

                            <div class="px-4 py-2 flex flex-row gap-2 items-center justify-between">
                                <span class="text-gray-700 text-sm">{% trans "Language" %}:</span>
                                {% include "components/language_switcher_advanced.html" %}
                            </div>
                        </div>

                      </div>
                    </div>
                {% endif %}
            </div>

        </div>

    </nav>



    {% if messages %}
        <ul class=" mx-4 md:fixed md:top-28 md:right-4 md:z-10 md:w-80 xl:w-96 flex flex-col gap-2">
            {% for message in messages %}
                {% if message.tags == "info" %}
                <li id="{{ message }}" class="mt-4 md:mt-0 bg-gray-200 p-2 shadow flex flex-row gap-2 justify-between">
                <div class="flex flex-row gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <p class="overflow-hidden">{{ message }}</p>
                </div>

                    <div class="cursor-pointer" onclick="hideMessage('{{ message }}')">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                </li>
                {% elif message.tags == "success" %}
                <li id="{{ message }}" class="mt-4 md:mt-0 bg-green-200 p-2 shadow flex flex-row gap-2 justify-between">
                    <div class="flex flex-row gap-2 items-center">

                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>

                        <p class="overflow-hidden">{{ message }}</p>
                    </div>

                    <div class="cursor-pointer" onclick="hideMessage('{{ message }}')">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                </li>
                {% elif message.tags == "warning" %}
                    <li id="{{ message }}" class="mt-4 md:mt-0 bg-yellow-200 p-2 shadow flex flex-row gap-2 justify-between">
                    <div class="flex flex-row gap-2 items-center">

                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>

                        <p class="overflow-hidden">{{ message }}</p>
                    </div>

                    <div class="cursor-pointer" onclick="hideMessage('{{ message }}')">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                </li>
                {% elif message.tags == "error" %}
                <li id="{{ message }}" class="mt-4 md:mt-0 bg-red-200 p-2 shadow flex flex-row gap-2 justify-between">
                    <div class="flex flex-row gap-2 items-center">

                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                        </svg>

                        <p class="overflow-hidden">{{ message }}</p>
                    </div>

                    <div class="cursor-pointer" onclick="hideMessage('{{ message }}')">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                </li>
                {% endif %}

            {% endfor %}
        </ul>
    {% endif %}



    <div class="px-8 xl:max-w-screen-xl mx-auto mt-2 mb-20">
        <h2 class="my-2  text-xl">{% block title %}{% endblock %}</h2>
        {% block content %}(no content){% endblock %}
    </div>
    <script src="/static/js/tailwind-modal.js"></script>

    <script>
        function hideMessage(message_id){
            var message_element = document.getElementById(message_id);
            message_element.classList.add("hidden");
        }
        function toggleDropdown(dropdown_id){
            var dropdown = document.getElementById(dropdown_id);
            if (dropdown.classList.contains("hidden")){
               dropdown.classList.remove("hidden");
            } else {
               dropdown.classList.add("hidden");
            }
        }
        function goBack(){
            window.history.back();
        }
    </script>

</body>
</html>