{% load widget_tweaks %}
<div class="text-red-500">
    {{ form.non_field_errors }}
</div>
{% for field in form %}
    <div class="flex flex-row gap-2 flex-wrap items-center">
        <div class="">
            {{ field.label_tag }}
        </div>
        <div class="">
            {% if field.field.widget.input_type == "checkbox" %}
                {{ field|add_class:" m1-2 p-2 block focus:ring-primarycolor-500 focus:border-primarycolor-500 focus:border-2 shadow-xs  sm:text-sm border border-gray-600 rounded-md" }}
            {% else %}
                {{ field|add_class:"w-full m1-2 p-2 block focus:ring-primarycolor-500 focus:border-primarycolor-500 focus:border-2 shadow-xs  sm:text-sm border border-gray-600 rounded-md" }}
            {% endif %}
        </div>
        <div>
        {% if field.errors %}
            {% for error in field.errors %}
            <p class="text-red-500">{{ error }}</p>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endfor %}
